[submodule "proyector-movil-teacher"]
	path = submodules/proyector-movil-teacher
	url = https://github.com/torrescristian/proyector-movil-teacher.git
[submodule "proyector-movil-students"]
	path = submodules/proyector-movil-students
	url = https://github.com/torrescristian/proyector-movil-students.git
